*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(Background.jpg);
    background-position: center;
    background-size: cover;
}

.container{
    position: relative;
    width: 500px;
    height: 100px;
    background-color:rgba(135, 206, 235, .1);
    backdrop-filter: blur(30px);
    border-radius: 20px;
    padding: 20px;
    background-position: center;
    background-size: cover;
    color: #fff;
    font-family: 'Playpen Sans', cursive;
    transition: height .6s ease;
}
.search-box{
    position: relative;
    width: 100%;
    height: 55px;
    display: flex;
    align-items:center ;
}
.search-box input{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #0077b6;
    outline: none;
    border-radius: 15px;
    font-size: 22px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 48px 0 42px;
    text-align: center;
}
.search-box input::placeholder{
    font: #fff;
    text-transform: capitalize;
}
.search-box button{
    position: absolute;
    right: 0;
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 28px;
    color: #fff;
    padding: 0 40px 0 5px;
    cursor: pointer;
}
.search-box i {
    position: absolute;
    left: 10px;
    font-size: 28px;
    color: #fff;
}
.weather-box img{
    width: 60%;
}
.weather-box{
    text-align: center;
    margin: 40px 0;
}
.weather-box .temperature {
    position: relative;
    font-size: 68px;
    font-weight: 800;
    line-height: 1;
    padding: 20px 0 6px -30px;
}
.weather-box .temperature span{
    position: absolute;
    font-size: 24px;
    margin-left: 4px;
}
.weather-box .description{
   font-size: 22px;
   font-weight: 500;
   text-transform: capitalize;
}
.weather-details{
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    display: flex;
}
.weather-details .humidity,
.weather-details .wind{
    display: flex;
    align-items: center;
    width: 50%;
    transform: translateY(-100%);
}

.weather-details.active .humidity,
.weather-details.active .wind{
    transform: translateY(0%);
    transition: transform 1s ease;
    transition-delay: .6s;
}

.weather-details i{
    font-size: 56px;
    margin-right: 10px;
}
.weather-details span{
    display: inline-block;
    font-size: 22px;
    font-weight: 700;
}
.weather-details p{
    font-size: 22px;
    font-weight: 500;
}
.weather-details .humidity{
    margin-left: 20px;
    justify-content: flex-start;
}
.weather-details .wind{
    justify-content: flex-end;
    margin-right: 20px;
}
.weather-box,
.weather-details,
.not-found{
    visibility: hidden;
    overflow: hidden;
}
.not-found{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 110px;
    text-align: center;
}
.not-found img{
    width: 65%;

}
.not-found p{
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}
.weather-box.active,
.weather-details.active,
.not-found.active {
    visibility: visible;
}

.weather-box .box,
.not-found .box{
    transform: translateY(-100%);
}

.weather-box.active .box,
.not-found.active .box{
    transform: translateY(0%);
    transition: transform 1s ease;
    transition-delay: .3s;
}
